{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "parser": "typescript",
  "importOrder": [
    "^node:",
    "^@nestjs/(.*)$",
    "^@prisma/(.*)$",
    "^(?!@)\\w+",
    "^@(?!nestjs|prisma|app)(.*)$",
    "^@app/(.*)$",
    "^\\."
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
